I am the awesomest

<% if user_signed_in? %>
  <p> Hi, you're signed in</p>
<% else %>
  <%= form_for(:user, :url => session_path) do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
  <% end %>
<% end %>
